<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{ /fragment/header :: header }"></div>
<!-- header replace -->

<!-- 바디 시작 -->
<body>
    <div class="container">
        <h2>회원가입</h2>
        <form>
            <div class="form-group">
                <label for="loginId">loginId:</label>
                <input type="text" class="form-control" id="loginId" name="loginId" placeholder="아이디를 입력해주세요">
                <span>아이디 최대 15글자</span><br>
                <input type="text" id="checked_id">
                <input type="button" id="id_check" value="중복확인" class="btn btn-light">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="비밀번호를 입력해주세요">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력해주세요">
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="나이를 입력해주세요">
            </div>
            <div class="form-group">
                <label for="field">Field:</label>
                <input type="text" class="form-control" id="field" name="field" placeholder="직업을 입력해주세요">
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="text" class="form-control" id="year" name="year" placeholder="경력을 입력해주세요">
            </div>
            <div class="form-group">
                <label for="salary">Salary:</label>
                <input type="text" class="form-control" id="salary" name="salary" placeholder="급여를 입력해주세요">
            </div>
            <button type="button" class="btn btn-primary" id="join">회원가입</button>
        </form>
    </div>
</body>
<!-- 바디 끝 -->

<!-- 자바스크립트 시작 -->
<script type="text/javascript">

    // 아이디 중복확인
    $("#id_check").click(function() {
        let loginId = $("#loginId").val();
        console.log("loginId = ", loginId);

        if (loginId.trim() === "") {
            alert('아이디를 입력해주세요');
            return false;
        } else {
            $.ajax({
                type: "post",
                url: "/api/checkId",
                data: {loginId: loginId},
                dataType : 'json',
            }).done(function (response) {
                console.log("response = ", response);
                if (response.data == 1) {
                    alert('사용 가능한 아이디입니다.')
                    $("#checked_id").val(loginId);
                } else {
                    alert('사용할 수 없는 아이디입니다.');
                }
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    });

    // 회원가입
    $("#join").click(function () {
        let data = {
            loginId: $("#checked_id").val(),
            pwd: $("#pwd").val(),
            name: $("#name").val(),
            age: $("#age").val(),
            field: $("#field").val(),
            year: $("#year").val(),
            salary: $("#salary").val()
        }
        console.log("data = ", data);

        if (data.loginId.trim() === "") {
            alert('아이디를 입력해주세요');
            return false;
        } else if (data.pwd.trim() === "") {
            alert('패스워드를 입력해주세요');
            return false;
        } else if (data.name.trim() === "") {
            alert('이름을 입력해주세요');
            return false;
        } else if (data.age.trim() === "") {
            alert('나이를 입력해주세요');
            return false;
        } else if (data.field.trim() === "") {
            alert('직업을 입력해주세요');
            return false;
        } else if (data.year.trim() === "") {
            alert('경력을 입력해주세요');
            return false;
        } else if (data.salary.trim() === "") {
            alert('월급여를 입력해주세요');
            return false;
        } else {
            $.ajax({
                type: "post",
                url: "api/member/join",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
            }).done(function (response){
                console.log("response = ", response);
                alert('회원가입이 완료되었습니다');
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    });

</script>
<!-- 자바스크립트 끝 -->

</html>