<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{ /fragment/header :: header }"></div>
<!-- header replace -->

<!-- 바디 시작 -->
<body>
<div class="container">
    <h2>로그인</h2>
    <form>
        <div class="form-group">
            <label for="username">username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="아이디를 입력해주세요">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="비밀번호를 입력해주세요">
        </div>
        <button type="button" class="btn btn-primary" id="login">로그인</button>
    </form>
</div>
</body>
<!-- 바디 끝 -->

<!-- 자바스크립트 시작 -->
<script type="text/javascript">

</script>
<!-- 자바스크립트 끝 -->

</html>