.welcome-message {
    text-align: center;
}

.btn-dark {
    height: 40px;
    width: 95px;
}

.income {
    float: right;
    margin-right: 300px;
}

.expense-category {
    float: right;
    margin-right: 300px;
    width: 140px;
}

.expense-category-by-month {
    float: right;
    margin-right: 300px;
    width: 95px;
}