<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{ /fragment/header :: header }"></div>
<!-- header replace -->

<!-- 바디 시작 -->
<body>
<div class="container">


    <!-- 상단 텍스트 시작 -->
    <input type="hidden" th:object="${user}" th:field="*{mid}">
    <div class="welcome-message">
        <br><br><h4><span th:text="|${ user.getName() }님 환영합니다|"/></h4><br><br>
        <h3><span th:text="${ message }"/></h3><br>
    </div>
    <h2><span th:text="${ month }" />월</h2> <br>
    <p>총 수입: +<span th:text="|${ #numbers.formatInteger(incomeSum, 3, 'COMMA') }|" />원</p>
    <p>총 지출: -<span th:text="|${ #numbers.formatInteger(expenseSum, 3, 'COMMA') }|" />원</p>
    <p>총 합계: <span th:text="${ restSum >= 0 ? '+' + #numbers.formatInteger(restSum, 3, 'COMMA') : #numbers.formatInteger(restSum, 3, 'COMMA') }" />원</p>
    <!-- 상단 텍스트 시작 -->


    <!-- 가계부 테이블 시작 -->
    <input type="button" class="btn btn-dark income" value="수입 등록" th:onclick="'javascript:index.openIncome(this);'" data-toggle="modal" data-target="#income-modal" /> <br><br>
    <input type="button" class="btn btn-dark income" value="수입 관리" data-toggle="modal" data-target="#income-history-modal" /> <br><br>
    <input type="button" class="btn btn-dark income" value="지출 통계" th:onclick="'javascript:index.openStatistics(this);'" /> <br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Expense</th>
                <th>Sum</th>
                <th>Rest</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="day: ${ #numbers.sequence(1, days) }">
                <td th:text="|${ dayStat.count }일|"></td>
                <td>
                    <th:block th:each="expense: ${ expenses }">
                        <th:block th:if="${ dayStat.count } == ${ expense.getDate().substring(6, 8) }">
                            <a href="#" th:onclick="'javascript:index.openExpenseHistory(this);'" data-toggle="modal" data-target="#expense-history-modal"
                               th:data-exid="${expense.exid}" th:data-expenseMoney="${expense.expenseMoney}"
                               th:data-expenseReason="${expense.expenseReason}" th:data-expenseCategory="${expense.expenseCategory}">
                                <span th:text="|${ expense.getExpenseMoney() }원, ${ expense.getExpenseReason() }|" />
                            </a>
<!--                            <input type="hidden" id="|theExpense${ expenseStat.count }|" th:value="${ expense.getExpenseMoney() }" > <br>-->
                        </th:block>
                    </th:block>
                </td>
                <td>
                    <span id="theSum" />
                </td>
                <td class="rest"></td>
                <td style="border-top-style: hidden"><input type="button" class="btn btn-dark" name="expense-btn" id="expense-btn" value="지출 등록" th:onclick="'javascript:index.openExpense(this);'" data-toggle="modal" data-target="#expense-modal" th:data-day="${ dayStat.count }" /></td>
            </tr>
        </tbody>
    </table>
    <!-- 가계부 테이블 끝 -->


</div>
</body>
<!-- 바디 끝 -->

<!-- 수입 등록 모달 섹션 시작 -->
<div class="modal fade" id="income-modal" th:object="${income}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">수입 등록</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" name="income-month" id="income-month">
                <label>금액</label>
                <input type="text" name="income-money" id="income-money" class="form-control" placeholder="금액을 입력해주세요"/>
                <label>명목</label>
                <input type="text" th:field="*{incomeReason}" class="form-control" placeholder="명목을 입력해주세요"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="income-save">등록</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 수입 등록 모달 섹션 끝 -->

<!-- 수입 관리 모달 섹션 시작 -->
<div class="modal fade" id="income-history-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">수입 관리</h2>
            </div>
            <th:block th:each="income: ${ incomes }">
                <div class="modal-body">
                    <label>금액</label>
                    <input type="text" name="modifying-income-money" id="modifying-income-money" th:value="${ income.incomeMoney }" class="form-control" />
                    <label>명목</label>
                    <input type="text" name="modifying-income-reason" id="modifying-income-reason" th:value="${ income.incomeReason }" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" th:onclick="'javascript:index.deleteIncome(this);'"
                            th:data-inid="${ income.inid }">삭제</button>
                    <button type="button" class="btn btn-primary" th:onclick="'javascript:index.modifyIncome(this);'"
                            th:data-inid="${ income.inid }">수정</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!-- 수입 관리 모달 섹션 끝 -->

<!-- 지출 등록 모달 섹션 시작 -->
<div class="modal fade" id="expense-modal" th:object="${expense}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">지출 등록</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" name="expense-date" id="expense-date">
                <label>금액</label>
                <input type="text" name="expense-money" id="expense-money" class="form-control" placeholder="금액을 입력해주세요"/>
                <label>명목</label>
                <input type="text" th:field="*{expenseReason}" class="form-control" placeholder="명목을 입력해주세요"/>
                <label>분류</label> <br>
                <select th:field="*{expenseCategory}" class="selectpicker">
                    <option th:value="0">==카테고리==</option>
                    <option th:value="식료품">식료품</option>
                    <option th:value="외식">외식</option>
                    <option th:value="배달">배달</option>
                    <option th:value="생필품">생필품</option>
                    <option th:value="가전제품">가전제품</option>
                    <option th:value="전자제품">전자제품</option>
                    <option th:value="의류">의류</option>
                    <option th:value="병원약국비">병원/약국비</option>
                    <option th:value="휴대폰요금">휴대폰요금</option>
                    <option th:value="교통비">교통비</option>
                    <option th:value="여가활동">여가활동</option>
                    <option th:value="예적금">예/적금</option>
                    <option th:value="보험료">보험료</option>
                    <option th:value="집세">집세</option>
                    <option th:value="공과금">공과금</option>
                    <option th:value="대출상환금">대출상환금</option>
                    <option th:value="경조사비">경조사비</option>
                    <option th:value="기타">기타</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="expense-save">등록</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 지출 등록 모달 섹션 끝 -->

<!-- 지출 내역 모달 섹션 시작 -->
<div class="modal fade" id="expense-history-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">지출 내역</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" name="modifying-expense-exid" id="modifying-expense-exid" >
                <label>금액</label>
                <input type="text" name="modifying-expense-money" id="modifying-expense-money" class="form-control"/>
                <label>명목</label>
                <input type="text" name="modifying-expense-reason" id="modifying-expense-reason" class="form-control"/>
                <label>분류</label> <br>
                <select name="modifying-expense-category" id="modifying-expense-category" class="selectpicker">
                    <option th:value="0">==카테고리==</option>
                    <option th:value="식료품">식료품</option>
                    <option th:value="외식">외식</option>
                    <option th:value="배달">배달</option>
                    <option th:value="생필품">생필품</option>
                    <option th:value="가전제품">가전제품</option>
                    <option th:value="전자제품">전자제품</option>
                    <option th:value="의류">의류</option>
                    <option th:value="병원약국비">병원/약국비</option>
                    <option th:value="휴대폰요금">휴대폰요금</option>
                    <option th:value="교통비">교통비</option>
                    <option th:value="여가활동">여가활동</option>
                    <option th:value="예적금">예/적금</option>
                    <option th:value="보험료">보험료</option>
                    <option th:value="집세">집세</option>
                    <option th:value="공과금">공과금</option>
                    <option th:value="대출상환금">대출상환금</option>
                    <option th:value="경조사비">경조사비</option>
                    <option th:value="기타">기타</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="expense-delete">삭제</button>
                <button type="button" class="btn btn-primary" id="expense-modify">수정</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 지출 내역 모달 섹션 끝 -->

<!-- 자바스크립트 시작 -->
<script type="text/javascript" th:inline="javascript">
    // $(document).ready(function () {
    //     let sum = [[${sum}]];
    //
    //
    // });

    let index = {

        // 수입 모달 오픈 시 해당 날짜 전달
        openIncome: function (btn) {
            let year = [[${ year }]];
            let month = [[${ month }]].toString();

            if (month.length === 1) {
                month = 0 + month;
            }

            $("#income-month").val(year+''+month);
        },

        // 지출 모달 오픈 시 해당 날짜 전달
        openExpense: function (btn) {
            let year = [[${ year }]];
            let month = [[${ month }]].toString();
            let day = $(btn).data('day').toString(); // 1. th:data를 사용할 때 이렇게 사용도 가능하고

            if (month.length === 1) {
                month = 0 + month;
            }
            if (day.length === 1) {
                day = 0 + day;
            }

            $("#expense-date").val(year+''+month+''+day);
        },

        // 지출 내역 모달 오픈 시 해당 데이터 전달
        openExpenseHistory: function (btn) {
            let exid = btn.getAttribute('data-exid'); // 2. th:data를 사용할 때 이렇게 사용도 가능함
            let expenseMoney = btn.getAttribute('data-expenseMoney');
            let expenseReason = btn.getAttribute('data-expenseReason');
            let expenseCategory = btn.getAttribute('data-expenseCategory');

            $("#modifying-expense-exid").val(exid);
            $("#modifying-expense-money").val(expenseMoney);
            $("#modifying-expense-reason").val(expenseReason);
            $("#modifying-expense-category").val(expenseCategory);
        },

        // 지출 통계 팝업창 오픈
        openStatistics: function (btn) {
            let url = "/statistics";

            window.open(url, "_blank_",
                "toolbar=no, menubar=no, scrollbars=yes, resizable=no, width=550, height=550");
        },

        // 수입 수정
        modifyIncome: function (btn) {
            let data = {
                mid: $("#mid").val(),
                inid: btn.getAttribute('data-inid'),
                incomeMoney: btn.parentElement.previousElementSibling.firstElementChild.nextElementSibling.value,
                incomeReason: btn.parentElement.previousElementSibling.lastElementChild.value
            }

            if (data.incomeMoney.trim() === "") {
                alert('금액을 입력해주세요');
                return false;
            } else if (data.incomeReason.trim() === "") {
                alert('명목을 입력해주세요');
                return false;
            } else {
                $.ajax({
                    type: "put",
                    url: "/api/accountBook/modifyIncome/${data.inid}",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8"
                }).done(function (response) {
                    alert('수정이 완료되었습니다');
                    window.location.reload();
                }).fail(function (error) {
                    console.log("error = ", JSON.stringify(error));
                    alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
                });
            }
        },

        // 수입 삭제
        deleteIncome: function (btn) {
            let data = {
                mid: $("#mid").val(),
                inid: btn.getAttribute('data-inid')
            }

            let check = confirm('삭제하면 되돌릴 수 없습니다 \n삭제하시겠습니까?')
            if (check === true) {
                $.ajax({
                    type: "delete",
                    url: "/api/accountBook/deleteIncome/${data.inid}",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8"
                }).done(function (response) {
                    alert('삭제 완료되었습니다');
                    window.location.reload();
                }).fail(function (error) {
                    console.log("error = ", JSON.stringify(error));
                    alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
                });
            }
        },
    }

    // 수입 작성
    $("#income-save").click(function () {
        let data = {
            mid: $("#mid").val(),
            incomeMoney: $("#income-money").val(),
            incomeReason: $("#incomeReason").val(),
            month: $("#income-month").val()
        }

        if (data.incomeMoney.trim() === "") {
            alert('금액을 입력해주세요');
            return false;
        } else if (data.incomeReason.trim() === "") {
            alert('명목을 입력해주세요');
            return false;
        } else {
            $.ajax({
                type: "post",
                url: "/api/accountBook/writeIncome",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('등록이 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    // 지출 작성
    $("#expense-save").click(function () {
        let data = {
            mid: $("#mid").val(),
            expenseMoney: $("#expense-money").val(),
            expenseReason: $("#expenseReason").val(),
            expenseCategory: $("#expenseCategory").val(),
            date: $("#expense-date").val()
        }

        if (data.expenseMoney.trim() === "") {
            alert('금액을 입력해주세요');
            return false;
        } else if (data.expenseReason.trim() === "") {
            alert('명목을 입력해주세요');
            return false;
        } else if (data.expenseCategory === "0") {
            alert('분류을 선택해주세요');
            return false;
        } else {
            $.ajax({
                type: "post",
                url: "api/accountBook/writeExpense",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('등록이 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    // 지출 수정
    $("#expense-modify").click(function () {
        let data = {
            mid: $("#mid").val(),
            exid: $("#modifying-expense-exid").val(),
            expenseMoney: $("#modifying-expense-money").val(),
            expenseReason: $("#modifying-expense-reason").val(),
            expenseCategory: $("#modifying-expense-category").val()
        }

        if (data.expenseMoney.trim() === "") {
            alert('금액을 입력해주세요');
            return false;
        } else if (data.expenseReason.trim() === "") {
            alert('명목을 입력해주세요');
            return false;
        } else if (data.expenseCategory === "0") {
            alert('분류을 선택해주세요');
            return false;
        } else {
            $.ajax({
                type: "put",
                url: "api/accountBook/modifyExpense/${data.exid}",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('수정이 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    // 지출 삭제
    $("#expense-delete").click(function () {
        let data = {
            mid: $("#mid").val(),
            exid: $("#modifying-expense-exid").val()
        }

        let check = confirm('삭제하면 되돌릴 수 없습니다 \n삭제하시겠습니까?')
        if (check === true) {
            $.ajax({
                type: "delete",
                url: "api/accountBook/deleteExpense/${data.exid}",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('삭제 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    index.init();
</script>
<!-- 자바스크립트 끝 -->

</html>
