<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{ /fragment/header :: header }"></div>
<!-- header replace -->

<!-- 바디 시작 -->
<body>
<div class="container">
    <br><br> <h2>월</h2> <br><br>
    <p>총 수입: </p>
    <p>총 지출: </p>
    <p>총 합계: </p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Sum</th>
                <th>Rest</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="day: ${#numbers.sequence(1, days)}">
                <td th:text="|${dayStat.count}일|"></td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td style="border-top-style: hidden"><button type="button" class="btn btn-dark" name="input-btn" id="input-btn" value="수입 등록" th:onclick="'javascript:index.openIncome(this);'" data-toggle="modal" data-target="#incomeModal"> <!--th:data-odno="${ detail.odno }" th:data-pname="${ detail.product.name }"-->></button></td>
                <td style="border-top-style: hidden"><button type="button" class="btn btn-dark" name="expense-btn" id="expense-btn" value="지출 등록" th:onclick="'javascript:index.openExpense(this);'" data-toggle="modal" data-target="#expenseModal"> <!--th:data-odno="${ detail.odno }" th:data-pname="${ detail.product.name }"-->></button></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<!-- 바디 끝 -->

<!-- 수입 등록 모달 섹션 시작 -->
<div class="modal fade" id="incomeModal" th:object="${income}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">수입 등록</h2>
            </div>
            <div class="modal-body">
                <label for="incomeMoney">금액</label>
                <input type="text" th:field="*{incomeMoney}" class="form-control" placeholder="금액을 입력해주세요"/>
                <label for="incomeReason">명목</label>
                <input type="text" th:field="*{incomeReason}" class="form-control" placeholder="명목을 입력해주세요"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="income-save">등록</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 수입 등록 모달 섹션 끝 -->

<!-- 수입 등록 모달 섹션 시작 -->
<div class="modal fade" id="expenseModal" th:object="${expense}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">지출 등록</h2>
            </div>
            <div class="modal-body">
                <label for="expenseMoney">금액</label>
                <input type="text" th:field="*{expenseMoney}" class="form-control" placeholder="금액을 입력해주세요"/>
                <label for="expenseReason">명목</label>
                <input type="text" th:field="*{expenseReason}" class="form-control" placeholder="명목을 입력해주세요"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="expense-save">등록</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 수입 등록 모달 섹션 끝 -->

<!-- 자바스크립트 시작 -->
<script type="text/javascript">

    // 수입 작성
    $("#").click(function () {

    });

    // 지출 작성
    $("#").click(function () {

    });
</script>
<!-- 자바스크립트 끝 -->

</html>