<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{ fragment/header :: header }"></div>
<!-- header replace -->

<!-- 바디 시작 -->
<body>
<div class="container">


    <!-- 상단 텍스트 시작 -->
    <input type="hidden" id="mid" th:value="${ #authentication.principal.member.mid }">

    <div class="welcome-message">
        <br><br><h4><span th:text="|${#authentication.principal.member.name }님 환영합니다|"/></h4><br><br>
        <h3><span th:text="${ message }"/></h3><br>
    </div>
    <h2><span th:text="${ month }" />월</h2> <br>
    <p>총 수입: +<span th:text="${ incomeSum } != 0 ? ${ #numbers.formatInteger(incomeSum, 3, 'COMMA') } : 0" />원</p>
    <p>총 지출: -<span th:text="|${ #numbers.formatInteger(expenseSum, 3, 'COMMA') }|" />원</p>
    <p>총 합계: <span th:text="${ restSum >= 0 ? '+ ' + #numbers.formatInteger(restSum, 3, 'COMMA') : #numbers.formatInteger(restSum, 3, 'COMMA') }" />원</p>
    <!-- 상단 텍스트 끝 -->


    <!-- 상단 버튼 시작 -->
    <input type="button" class="btn btn-dark income" value="수입 등록"
           th:onclick="'javascript:index.openIncome(this);'" data-toggle="modal" data-target="#income-modal" /> <br><br>
    <input type="button" class="btn btn-dark income" value="수입 관리" data-toggle="modal" data-target="#income-history-modal" /> <br><br>
    <input type="button" class="btn btn-dark expenses-by-month" value="월별 지출"
           th:onclick="'javascript:index.openExpensesByMonth(this);'" data-toggle="modal" data-target="#expenses-by-month-modal" /> <br><br>
    <input type="button" class="btn btn-dark expense-category" value="카테고리별 지출"
           th:onclick="'javascript:index.openExpenseCategory(this);'" data-toggle="modal" data-target="#expense-category-modal" /> <br><br>
    <!-- 상단 버튼 끝 -->


    <!-- 가계부 테이블 시작 -->
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Expense</th>
            <th>Sum</th>
            <th>Rest</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="day: ${ #numbers.sequence(1, days) }">
            <td th:text="|${ dayStat.count }일|"></td>
            <td>
                <th:block th:each="expense: ${ expenses }">
                    <th:block th:if="${ dayStat.count } == ${ expense.date.substring(6, 8) }">
                        <a href="#" th:onclick="'javascript:index.openExpenseHistory(this);'" data-toggle="modal" data-target="#expense-history-modal"
                           th:data-exid="${expense.exid}" th:data-expenseMoney="${expense.expenseMoney}"
                           th:data-expenseReason="${expense.expenseReason}" th:data-expenseCategory="${expense.expenseCategory}">
                            <span th:text="|${ #numbers.formatInteger(expense.expenseMoney, 3, 'COMMA') }원, ${ expense.expenseReason }|" />
                        </a> <br>
                    </th:block>
                </th:block>
            </td>
            <td>
                <span id="theSum" />
            </td>
            <td class="rest"></td>
            <td style="border-top-style: hidden">
                <input type="button" class="btn btn-dark" name="expense-btn" id="expense-btn" value="지출 등록" th:onclick="'javascript:index.openExpense(this);'"
                       data-toggle="modal" data-target="#expense-modal" th:data-day="${ dayStat.count }" /></td>
        </tr>
        </tbody>
    </table>
    <!-- 가계부 테이블 끝 -->


</div>
</body>
<!-- 바디 끝 -->

<!-- 수입 등록 모달 섹션 시작 -->
<div class="modal fade" id="income-modal" th:object="${income}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">수입 등록</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" name="income-month" id="income-month">
                <label>금액</label>
                <input type="text" name="income-money" id="income-money" class="form-control" placeholder="금액을 입력해주세요"/>
                <label>명목</label>
                <input type="text" th:field="*{incomeReason}" class="form-control" placeholder="명목을 입력해주세요"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="income-save">등록</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 수입 등록 모달 섹션 끝 -->

<!-- 수입 관리 모달 섹션 시작 -->
<div class="modal fade" id="income-history-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">수입 관리</h2>
            </div>
            <th:block th:each="income: ${ incomes }">
                <div class="modal-body">
                    <label>금액</label>
                    <input type="text" name="modifying-income-money" id="modifying-income-money" th:value="${ income.incomeMoney }" class="form-control" />
                    <label>명목</label>
                    <input type="text" name="modifying-income-reason" id="modifying-income-reason" th:value="${ income.incomeReason }" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" th:onclick="'javascript:index.deleteIncome(this);'"
                            th:data-inid="${ income.inid }">삭제</button>
                    <button type="button" class="btn btn-primary" th:onclick="'javascript:index.modifyIncome(this);'"
                            th:data-inid="${ income.inid }">수정</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
                </div>
            </th:block>
            <th:block th:if="${ incomes.size() } == 0">
                <br><br> <h4>등록한 수입이 없습니다</h4> <br><br>
            </th:block>
        </div>
    </div>
</div>
<!-- 수입 관리 모달 섹션 끝 -->

<!-- 지출 등록 모달 섹션 시작 -->
<div class="modal fade" id="expense-modal" th:object="${expense}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">지출 등록</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" name="expense-date" id="expense-date">
                <label>금액</label>
                <input type="text" name="expense-money" id="expense-money" class="form-control" placeholder="금액을 입력해주세요"/>
                <label>명목</label>
                <input type="text" th:field="*{expenseReason}" class="form-control" placeholder="명목을 입력해주세요"/>
                <label>분류</label> <br>
                <select th:field="*{expenseCategory}" class="selectpicker">
                    <option th:value="0">==카테고리==</option>
                    <option th:value="GROCERY">식료품</option>
                    <option th:value="EAT_OUT">외식비</option>
                    <option th:value="DELIVERY">배달비</option>
                    <option th:value="DAILY_NECESSITY">생필품</option>
                    <option th:value="HOME_APPLIANCES">가전제품</option>
                    <option th:value="ELECTRONIC_PRODUCTS">전자제품</option>
                    <option th:value="CLOTHES">의류</option>
                    <option th:value="MEDICAL">의료비</option>
                    <option th:value="PHONE">통신비</option>
                    <option th:value="TRANSPORTATION">교통비</option>
                    <option th:value="ENTERTAINMENT">여가활동</option>
                    <option th:value="PET">반려동물</option>
                    <option th:value="DEPOSIT">예/적금</option>
                    <option th:value="INSURANCE">보험료</option>
                    <option th:value="RENT">집세</option>
                    <option th:value="UTILITIES">공과금</option>
                    <option th:value="REPAYMENT">대출상환금</option>
                    <option th:value="TRIBUTE">경조사비</option>
                    <option th:value="ETC">기타</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="expense-save">등록</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 지출 등록 모달 섹션 끝 -->

<!-- 지출 내역 모달 섹션 시작 -->
<div class="modal fade" id="expense-history-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">지출 내역</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" name="modifying-expense-exid" id="modifying-expense-exid" >
                <label>금액</label>
                <input type="text" name="modifying-expense-money" id="modifying-expense-money" class="form-control"/>
                <label>명목</label>
                <input type="text" name="modifying-expense-reason" id="modifying-expense-reason" class="form-control"/>
                <label>분류</label> <br>
                <select name="modifying-expense-category" id="modifying-expense-category" class="selectpicker">
                    <option th:value="0">==카테고리==</option>
                    <option th:value="GROCERY">식료품</option>
                    <option th:value="EAT_OUT">외식비</option>
                    <option th:value="DELIVERY">배달비</option>
                    <option th:value="DAILY_NECESSITY">생필품</option>
                    <option th:value="HOME_APPLIANCES">가전제품</option>
                    <option th:value="ELECTRONIC_PRODUCTS">전자제품</option>
                    <option th:value="CLOTHES">의류</option>
                    <option th:value="MEDICAL">의료비</option>
                    <option th:value="PHONE">통신비</option>
                    <option th:value="TRANSPORTATION">교통비</option>
                    <option th:value="ENTERTAINMENT">여가활동</option>
                    <option th:value="PET">반려동물</option>
                    <option th:value="DEPOSIT">예/적금</option>
                    <option th:value="INSURANCE">보험료</option>
                    <option th:value="RENT">집세</option>
                    <option th:value="UTILITIES">공과금</option>
                    <option th:value="REPAYMENT">대출상환금</option>
                    <option th:value="TRIBUTE">경조사비</option>
                    <option th:value="ETC">기타</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="expense-delete">삭제</button>
                <button type="button" class="btn btn-primary" id="expense-modify">수정</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 지출 내역 모달 섹션 끝 -->

<!-- 월별 지출 내역 모달 섹션 시작 -->
<div class="modal fade" id="expenses-by-month-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" th:text="|${year}년 월별 지출 내역|"></h2>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Month</th>
                        <th>Income</th>
                        <th>Expense</th>
                        <th>Sum</th>
                    </tr>
                    </thead>

                    <tbody id="ebm-tbody">
                        <!-- 아래 ajax 응답에서 처리 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 월별 지출 내역 모달 섹션 끝 -->

<!-- 카테고리별 지출 차트 모달 섹션 시작 -->
<div class="modal fade" id="expense-category-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">카테고리별 지출 차트</h2>
            </div>
            <div id="expense-category-piechart">
                <span id=""></span>

            </div>
        </div>
    </div>
</div>
<!-- 카테고리별 지출 차트 모달 섹션 끝 -->

<!-- 자바스크립트 시작 -->
<script type="text/javascript" th:src="@{ https://www.gstatic.com/charts/loader.js }"></script>
<script type="text/javascript" th:inline="javascript">

    // $(document).ready(function () {
    // let sum = [[${sum}]];
    // });

    let index = {

        // 수입 모달 오픈 시 해당 날짜 전달
        openIncome: function (btn) {
            let year = [[${ year }]];
            let month = [[${ month }]].toString();

            if (month.length === 1) {
                month = 0 + month;
            }

            $("#income-month").val(year+''+month);
        },

        // 지출 모달 오픈 시 해당 날짜 전달
        openExpense: function (btn) {
            let year = [[${ year }]];
            let month = [[${ month }]].toString();
            let day = $(btn).data('day').toString(); // 1. th:data를 사용할 때 이렇게 사용도 가능하고

            if (month.length === 1) {
                month = 0 + month;
            }
            if (day.length === 1) {
                day = 0 + day;
            }

            $("#expense-date").val(year+''+month+''+day);
        },

        // 지출 내역 모달 오픈 시 해당 데이터 전달
        openExpenseHistory: function (btn) {
            let exid = btn.getAttribute('data-exid'); // 2. th:data를 사용할 때 이렇게 사용도 가능함
            let expenseMoney = btn.getAttribute('data-expenseMoney');
            let expenseReason = btn.getAttribute('data-expenseReason');
            let expenseCategory = btn.getAttribute('data-expenseCategory');

            $("#modifying-expense-exid").val(exid);
            $("#modifying-expense-money").val(expenseMoney);
            $("#modifying-expense-reason").val(expenseReason);
            $("#modifying-expense-category").val(expenseCategory);
        },

        // 월별 지출 내역 모달 오픈 시 데이터 요청
        openExpensesByMonth: function (btn) {
            let data = {
                mid: $("#mid").val()
            }
            let table = $('#ebm-tbody');

            $.ajax({
                type: "post",
                url: "book/expensesByMonth/" + Number(data.mid),
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                let histories = response.data;
                table.empty();

                $.each(histories, function (index, history) {
                    // 월 파싱
                    console.log('history = ', history);
                    let month = history.month;
                    let parsedMonth = month.substring(0, 1) === '0' ? month.substring(1) : month;

                    // 수입금 파싱
                    let monthIncome = history.monthIncome;
                    let formattedIncome = parseFloat(monthIncome).toLocaleString();

                    // 지출금 파싱
                    let monthExpense = history.monthExpense;
                    let formattedExpense = parseFloat(monthExpense).toLocaleString();

                    // 합계금 파싱
                    let monthSum = history.monthSum;
                    let formattedSum = parseFloat(monthSum).toLocaleString();

                    let row = $("<tr></tr>");
                    row.append("<td>" + parsedMonth + '월' + "</td>");
                    row.append("<td>" + formattedIncome + '원' + "</td>");
                    row.append("<td>" + formattedExpense + '원' + "</td>");
                    row.append("<td>" + formattedSum + '원' + "</td>");

                    table.append(row);
                });
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        },

        // 카테고리별 지출 모달 오픈 시 파이 차트 데이터 요청
        openExpenseCategory: function (btn) {
            let data = {
                mid: $("#mid").val()
            }

            $.ajax({
                type: "post",
                url: "book/expenseCategory/" + Number(data.mid),
                // url: "book/expenseCategory/${data.mid}",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(function() {
                    drawChart(response);
                });
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        },

        // 수입 수정
        modifyIncome: function (btn) {
            let data = {
                mid: $("#mid").val(),
                inid: btn.getAttribute('data-inid'),
                incomeMoney: btn.parentElement.previousElementSibling.firstElementChild.nextElementSibling.value,
                incomeReason: btn.parentElement.previousElementSibling.lastElementChild.value
            }

            if (data.incomeMoney.trim() === "") {
                alert('금액을 입력해주세요');
                return false;
            } else if (data.incomeReason.trim() === "") {
                alert('명목을 입력해주세요');
                return false;
            } else {
                $.ajax({
                    type: "put",
                    url: "/api/accountBook/modifyIncome/${data.inid}",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8"
                }).done(function (response) {
                    alert('수정이 완료되었습니다');
                    window.location.reload();
                }).fail(function (error) {
                    console.log("error = ", JSON.stringify(error));
                    alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
                });
            }
        },

        // 수입 삭제
        deleteIncome: function (btn) {
            let data = {
                mid: $("#mid").val(),
                inid: btn.getAttribute('data-inid')
            }

            let check = confirm('삭제하면 되돌릴 수 없습니다 \n삭제하시겠습니까?')
            if (check === true) {
                $.ajax({
                    type: "delete",
                    url: "/api/accountBook/deleteIncome/${data.inid}",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8"
                }).done(function (response) {
                    alert('삭제 완료되었습니다');
                    window.location.reload();
                }).fail(function (error) {
                    console.log("error = ", JSON.stringify(error));
                    alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
                });
            }
        },
    }

    // 수입 작성
    $("#income-save").click(function () {
        let data = {
            mid: $("#mid").val(),
            incomeMoney: $("#income-money").val(),
            incomeReason: $("#incomeReason").val(),
            month: $("#income-month").val()
        }

        if (data.incomeMoney.trim() === "") {
            alert('금액을 입력해주세요');
            return false;
        } else if (data.incomeReason.trim() === "") {
            alert('명목을 입력해주세요');
            return false;
        } else {
            $.ajax({
                type: "post",
                url: "/api/accountBook/writeIncome",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('등록이 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    // 지출 작성
    $("#expense-save").click(function () {
        let data = {
            mid: $("#mid").val(),
            expenseMoney: $("#expense-money").val(),
            expenseReason: $("#expenseReason").val(),
            expenseCategory: $("#expenseCategory").val(),
            date: $("#expense-date").val()
        }

        if (data.expenseMoney.trim() === "") {
            alert('금액을 입력해주세요');
            return false;
        } else if (data.expenseReason.trim() === "") {
            alert('명목을 입력해주세요');
            return false;
        } else if (data.expenseCategory === "0") {
            alert('분류을 선택해주세요');
            return false;
        } else {
            $.ajax({
                type: "post",
                url: "api/accountBook/writeExpense",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('등록이 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    // 지출 수정
    $("#expense-modify").click(function () {
        let data = {
            mid: $("#mid").val(),
            exid: $("#modifying-expense-exid").val(),
            expenseMoney: $("#modifying-expense-money").val(),
            expenseReason: $("#modifying-expense-reason").val(),
            expenseCategory: $("#modifying-expense-category").val()
        }

        if (data.expenseMoney.trim() === "") {
            alert('금액을 입력해주세요');
            return false;
        } else if (data.expenseReason.trim() === "") {
            alert('명목을 입력해주세요');
            return false;
        } else if (data.expenseCategory === "0") {
            alert('분류을 선택해주세요');
            return false;
        } else {
            $.ajax({
                type: "put",
                url: "api/accountBook/modifyExpense/${data.exid}",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('수정이 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    // 지출 삭제
    $("#expense-delete").click(function () {
        let data = {
            mid: $("#mid").val(),
            exid: $("#modifying-expense-exid").val()
        }

        let check = confirm('삭제하면 되돌릴 수 없습니다 \n삭제하시겠습니까?')
        if (check === true) {
            $.ajax({
                type: "delete",
                url: "api/accountBook/deleteExpense/${data.exid}",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                alert('삭제 완료되었습니다');
                window.location.reload();
            }).fail(function (error) {
                console.log("error = ", JSON.stringify(error));
                alert('서버 장애로 인해 오류가 발생했습니다 \n다시 시도해주세요');
            });
        }
    });

    // 카테고리별 지출 모달 오픈 시 파이 차트 데이터 요청
    function drawChart(response) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'category');
        data.addColumn('number', 'money');

        for (var i = 0; i < response.length; i++) {
            data.addRow([response[i]['category'], response[i]['money']]);
        }

        let options = {
            'title': '카테고리별 지출',
            is3D: true,
            sliceVisibilityThreshold: .05,
            'width':1139,
            'height':500,
        };

        let chart = new google.visualization.PieChart(document.getElementById('expense-category-piechart'));

        chart.draw(data, options);
    }

    // index.init();
</script>
<!-- 자바스크립트 끝 -->

</html>